@font-face { font-family: museo; src: url('MuseoSans-100.otf'); } 
body{
	font-family:museo;
	background: #f8f8f8;
	color:#202326;
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,h5{
	font-weight: normal;
}
#universe{
	text-align: center;
	height: 100%;
}
#universe h2{
	color: #4ace72;
	padding: 0;
	margin: 0;
}
#container{
	display: none;
	padding: 80px 50px;
}
#container h3{
	font-size: 24pt;
	padding: 0;
	margin: 0;
}
#container h4{
	padding-top: 0 ;
	padding-bottom: 200px;
	margin-top: 0;
}
#container h2{
	font-size: 36pt;
	margin: 0;
	padding: 0;
}
#weather{
	color: #029bd4;
}
#momment{
	color: #4ace72;
}
#believe{
	color: #d0d0d0;
	font-weight: bold;
	padding-top: 200px;
}